VITE_SUPABASE_URL=https://ruiqytetotxoumsvagej.supabase.co
VITE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1aXF5dGV0b3R4b3Vtc3ZhZ2VqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyMjQ1ODAyNSwiZXhwIjoyMDM4MDM0MDI1fQ.H6CPoiB9VRiPj0jVjtM1EdsicXoOim7vVNcsvc3F65M
VITE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1aXF5dGV0b3R4b3Vtc3ZhZ2VqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjI0NTgwMjUsImV4cCI6MjAzODAzNDAyNX0.bi3gSHPLT4xxo66qL3IHm6F_XlyGFYbKT2ihslFoVTc
VITE_EDGE_FUNCTIONS_BASE_URL=https://ruiqytetotxoumsvagej.supabase.co/functions/v1
