openapi: 3.1.0
info:
  title: E-learning API
  description: API for E-learning app.
  version: 1.0.0
servers:
  - url: https://54321-dh2407-added-ziclbzafpnh.ws-eu115.gitpod.io/functions/v1
    description: Development server for internal use
  - url: https://api.example.com/v1
    description: Main production server
components:
  schemas:
    Segment:
      type: object
      properties:
        text:
          type: string
          example: "Once upon a time..."
        sound_url:
          type: string
          example: "https://example.com/sound.mp3"
      required:
        - text
    
    Scene:
      type: object
      properties:
        image_url:
          type: string
          example: "https://example.com/image.jpg"
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
      required:
        - image_url
        - segments

    SectionResponse:
      type: object
      properties:
        section_id:
          type: string
          example: "67890"
        kind:
          type: string
          enum:
            - STORY
            - QUESTIONS_GAME
          example: STORY
        scenes:
          type: array
          items:
            $ref: '#/components/schemas/Scene'
        is_last:
          type: boolean
          example: false
      required:
        - section_id
        - kind
        - scenes
        - is_last
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /section-get_next_section:
    post:
      summary: Retrieve the next section based on the provided section ID.
      security:
        - BearerAuth: []
      requestBody:
        description: Section ID to fetch the next section.
        content:
          application/json:
            schema:
              type: object
              properties:
                section_id:
                  type: string
                  example: "12345"
              required:
                - section_id
      responses:
        '200':
          description: Successfully retrieved the next section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
        '400':
          description: Bad request, invalid or missing section_id.
        '405':
          description: Method not allowed for this endpoint.
        '500':
          description: Internal server error.

  /section-get_first_section:
    post:
      summary: Retrieve the first section based on the provided subject ID.
      security:
        - BearerAuth: []
      requestBody:
        description: Subject ID to fetch the first section.
        content:
          application/json:
            schema:
              type: object
              properties:
                subject_id:
                  type: string
                  example: "subject123"
              required:
                - subject_id
      responses:
        '200':
          description: Successfully retrieved the first section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
        '400':
          description: Bad request, invalid or missing subject_id.
        '405':
          description: Method not allowed for this endpoint.
        '500':
          description: Internal server error.

